*
!/**/
!**/*.h
!**/*.c
!**/*.py
!**/*.md
!.gitignore
!**/Makefile
!**/*.yml
!**/*.yaml
!**/*.mak
!**/*.pdf
!**/*.tex
!**/*.bib
!**/*.ps
!**/*.cls
/site
style.c

src/dep/snowball/libstemmer/mkinc.mak
