*
!/**/
!**/*.h
!**/*.c
!**/*.py
!**/*.md
!.gitignore
!**/Makefile
!**/*.yml
!**/*.yaml
!**/*.mak
!**/*.pdf
!**/*.tex
!**/*.bib
!**/*.bbl
!**/*.ps
!**/*.cls
!**/*.json
!**/*.txt
!**/*.png

/site
style.c
**/.vscode
**/venv
src/dep/snowball/libstemmer/mkinc.mak
