*
!/**/
!**/*.h
!**/*.c
!**/*.py
!**/*.md
!.gitignore
!**/Makefile
!**/*.yml
!**/*.yaml
!**/*.mak
!**/*.pdf
!**/*.tex
!**/*.bib
!**/*.bbl
!**/*.ps
!**/*.cls
!**/*.json
!**/*.txt
/site
style.c

src/dep/snowball/libstemmer/mkinc.mak
src/timerwheel/*
